<!DOCTYPE html>
<html>
<head>
    <title>Product Detail</title>
</head>
<body>

<h1>{{ product.name }}</h1>

<p>Price: Ksh {{ product.price }}</p>

<p>Category: {{ product.category }}</p>

<a href="/">Back</a>

{% if user.is_authenticated %}
    <a href="{% url 'create_order' product.id %}"
       class="inline-block bg-green-600 text-white px-6 py-3 rounded-lg hover:bg-green-700">
        Buy Now
    </a>
{% else %}
    <a href="{% url 'login' %}"
       class="inline-block bg-indigo-600 text-white px-6 py-3 rounded-lg hover:bg-indigo-700">
        Login to Buy
    </a>
{% endif %}

</body>
</html>